<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127625031140-veijulgtmchjlcou6imqegjo527ms9dj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127625031140-veijulgtmchjlcou6imqegjo527ms9dj</string>
	<key>API_KEY</key>
	<string>AIzaSyDDWh-YxpCE8JT7eJR5tDED4I5rseFa0Qk</string>
	<key>GCM_SENDER_ID</key>
	<string>127625031140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>realchatminiproject</string>
	<key>PROJECT_ID</key>
	<string>miniprojectchat-f547a</string>
	<key>STORAGE_BUCKET</key>
	<string>miniprojectchat-f547a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127625031140:ios:4db7270c427b927777abf1</string>
	<key>DATABASE_URL</key>
	<string>https://miniprojectchat-f547a.firebaseio.com</string>
</dict>
</plist>